body {
	padding-top: 5rem;
}

.nomeProjeto {
	border-bottom: 1px solid gray;
	text-align: right;
}

.containerProjeto {
	background-color: #ececec;
	padding: 5px;
	border-radius: 5px;
	margin-top: 10px;
}

.containerNomeResponsavel {
	text-align: right;
	width: '100%';
}

.containerTarefa {
	max-width: 18rem;
}